* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2f2e36
    ;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.picture {
    max-width: 800px;   
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    margin: 30px;
}

.picture img {
    max-width: 150px;
    max-height: 100%;
}

.textContent {
    color: #dadada;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
    /* border: 1px solid white; */
}

.typing {
    position: relative;
    color: #f1a261;
}

.typing::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 8%;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.social {
    display: flex;
    justify-content: center;
}

.fa {
    margin: 12px;
    color: white;
}

.fa:hover {
    margin: 12.5px;
    color: #f1a261;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.box {
    color: black;
    background-color: white;
    margin: 10px;
    height: 50px;
    line-height: 50px;
    width: 60%;
    max-width: 60%;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
}

.box a {
    background-color: white;
    text-decoration: none;
    color: black;
}